<footer>
    <div class="footerdivs">
        <div class="foter">
            <h2>Socials</h2>
            <a href="">Facebook</a>
            <a href="">Instagram</a>
            <a href="">X space</a>
            <a href="">Linked In</a>
        </div>
        <div class="foter">
            <h2>Team</h2>
            <a href="">Feedback</a>
            <a href="">FAQs</a>
            <a href="">Our team</a>
            <a href="">Developers</a>
        </div>
        <div class="foter">
            <h2>Quicklinks</h2>
            <a href="">About us</a>
            <a href="">Contact us</a>
            <a href="">Help</a>
            <a href="">Report</a>
        </div>
    </div>
    <div class="bottom">
        <form action="">
            <h2>Email us:</h2>
            <div class="inputdiv">
                <input id="email" type="text" required>
                <label for="email">Email</label>
            </div>
            <div class="inputdiv">
               <textarea name="" id="" placeholder="Your message"></textarea>
            </div>
            <button>Send mail</button>
        </form>
        <div class="rights">
            <p>&copy; 2025 Afya Axis. All Rights reserved</p>
        </div>
    </div>
</footer>