<div class="sidebarrepo" id="sidebarrepo">
    <div class="siderepotop">
        <button id="closesidebar"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <hr>
    <div class="middlebox">
        <ul>
            <li><a href="/doctors_list.html">
                <i class="fa-solid fa-user-doctor"></i>
                <h2>Our Doctors</h2>  
            </a></li>
            <li class="dropdown">
                <a class="dropdown-btn">
                    <i class="fa-solid fa-microscope"></i>
                    <h2>Health Education</h2>
                    <i class="fa-solid fa-caret-down dropdown-icon"></i>
                </a>
                <ul class="submenu dropdown-content">
                    <li><a href="">
                        <i class="fa-solid fa-hands-holding-child"></i>
                        <h2>Maternal and Child health</h2>
                    </a></li>
                    <li><a href="">
                        <i class="fa-solid fa-virus-covid"></i>
                        <h2>Disease Info</h2>
                    </a></li>
                </ul>
            </li> 
            <li class="dropdown">
                <a class="dropdown-btn">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <h2>Health Alerts</h2>
                    <i class="fa-solid fa-caret-down dropdown-icon"></i>
                </a>
                <ul class="submenu dropdown-content">
                    <li><a href="">
                        <i class="fa-solid fa-disease"></i>
                        <h2>Outbreak Alerts</h2>
                    </a></li>
                    <li><a href="">
                        <i class="fa-solid fa-hands-holding-child"></i>
                        <h2>Public Health concerns</h2>
                    </a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-btn">
                    <i class="fa-solid fa-truck-medical"></i>
                    <h2>Emergency Services</h2>
                    <i class="fa-solid fa-caret-down dropdown-icon"></i>
                </a>
                <ul class="submenu dropdown-content">
                    <li><a href="">
                        <i class="fa-solid fa-kit-medical"></i>
                        <h2>First Aid Guide</h2>
                    </a></li>
                    <li><a href="">
                        <i class="fa-solid fa-house-medical-flag"></i>
                        <h2>Afya Axis Clinics</h2>
                    </a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-btn">
                    <i class="fa-solid fa-microscope"></i>
                    <h2>emergency services</h2>
                    <i class="fa-solid fa-caret-down dropdown-icon"></i>
                </a>
                <ul class="submenu dropdown-content">
                    <li><a href="">
                        <i class="fa-solid fa-hands-holding-child"></i>
                        <h2>First Aid Guide</h2>
                    </a></li>
                    <li><a href="">
                        <i class="fa-solid fa-hands-holding-child"></i>
                        <h2>Local Emergency Contacts</h2>
                    </a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-btn">
                    <i class="fa-solid fa-weight-scale"></i>
                    <h2>Health monitoring tools</h2>
                    <i class="fa-solid fa-caret-down dropdown-icon"></i>
                </a>
                <ul class="submenu dropdown-content">
                    <li><a href="">
                        <i class="fa-solid fa-message-bot"></i>
                        <h2>Afya Axis Health Assistant</h2>
                    </a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-btn">
                    <i class="fa-solid fa-microscope"></i>
                    <h2>Community Support</h2>
                    <i class="fa-solid fa-caret-down dropdown-icon"></i>
                </a>
                <ul class="submenu dropdown-content">
                    <li><a href="">
                        <i class="fa-solid fa-group-arrows-rotate"></i>
                        <h2>Discusion Forums</h2>
                    </a></li>
                    <li><a href="">
                        <i class="fa-solid fa-handshake"></i>
                        <h2>Health Campaigns</h2>
                    </a></li> 
                </ul>
            </li>
        </ul>
    </div>
    <hr>
    <div class="bottombox">
        <ul>
            <li><a href="">
                <i class="fa-solid fa-bars"></i>
                <h2>Admin Dashboard</h2>
            </a></li>
            <li><a href="">
                <i class="fa-solid fa-gear"></i>
                <h2>Settings</h2>
            </a></li>
            <li><a href="">
                <i class="fa-solid fa-right-from-bracket"></i>
                <h2>Logout</h2>
            </a></li>
        </ul>
    </div>
</div>