{% extends "admin/admin_Layout.html" %}
{%load static%}
{%block content%}
<div class="contentsleft beneficiaries">
    <div class="add ">
        <h1>Afya Axis Clinics</h1>
        <a href="{%url 'create_clinic'%}">Add a Clinic</a>
    </div>
    <div class="clinicscontainerdiv" style="padding:20px 0">
        <div class="clinicsset">
            {% for clinic in clinics%}
            <div class="clinicdiv">
                <div class="clinicimage">
                    {% if clinic.image1 %}
                    <img src="{{ clinic.image1.url }}" alt="{{ clinic.name }}">
                    {% else %}
                    <img src="{% static 'images/default clinic.png' %}" alt="">
                    {% endif %}
                </div>
                <div class="viewclinic">
                    <h3>{{ clinic.name }}</h3>
                    <form action="">
                        <button>View about</button>
                    </form>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
{%include 'admin/contentsright.html'%}
{%endblock%}