<!-- filepath: c:\Users\user\Desktop\AFYA\afya\templates\notifications\admin_notifications.html -->
{% extends "admin/admin_Layout.html" %}
{% load static %}
{% load notification_tags %}
{% block content %}
<div class="notificationsection">
    <div class="notificationstop">
        <h1>Notifications</h1>
        <form action="{% url 'delete_all_notifications' %}" method="post">
            {% csrf_token %}
            <button>
                <i class="fa-solid fa-trash"></i>
                <h2>Delete all Notifications</h2>
            </button>
        </form>
    </div>
    <div class="notificationbox">
        {% for notification in notifications %}
        <div class="notifictiondiv">
            <div class="notificationleft">
                {% if notification.profile_picture_url %}
                <img src="{{ notification.profile_picture_url }}" alt="Profile Picture">
                {% else %}
                <img src="{% static 'images/admin-settings.png' %}" alt="">
                {% endif %}
            </div>
            <div class="notificationight">
                <p>{{ notification.applicant_first_name }} {{ notification.applicant_last_name }} applied for a {{ notification.appointment_type }} appointment with Dr. {{ notification.doctor_name }} on {{ notification.appointment_date }} at {{ notification.appointment_time }}</p>
            </div>
            <div class="actionnote">
                {% if not notification.is_read %}
                <a href="{% url 'mark_as_read_admin' notification.id %}">Mark as read</a>
                {% else %}
                <form action="{% url 'delete_notification' notification.id %}" method="post">
                    {% csrf_token %}
                    <button class="deletemessage">
                        <i class="fa-solid fa-trash"></i>
                        <h2>Delete</h2>
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
        {% empty %}
        <p style="font-size:16px;font-weight:800;">There are no notifications currently.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}